@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20877, 20878");
@import url("https://db.onlinewebfonts.com/c/c9c60c88cb732119e5a9457f2d9cdc53?family=DINPro-Regular");

body {
  margin: 0 0;
  padding: 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.main__carusel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carusel__component {
  display: flex;
  transition: transform 0.35s ease-in-out;
}

button :hover {
  cursor: pointer;
}

.carusel__component {
  max-width: 1024px;
  min-width: 1024px;
  max-height: 768px;
  min-height: 768px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.components {
  max-width: 1024px;
  min-width: 1024px;
  max-height: 768px;
  min-height: 768px;
}

/* first slide css ////////////////////////////////////// */

.carusel__component__first {
  background: url("../src/images/bg1.png");
  position: relative;
  overflow: hidden;
}

.carusel__component::-webkit-scrollbar {
  display: none;
}

.home__btn__text {
  background-image: url("../src/images/home.png");
  background-repeat: no-repeat;
  width: 170px;
  height: 30px;
  position: relative;
  top: 30px;
  left: 90px;
}

.text__container {
  margin-top: 120px;
  margin-left: 90px;
}

.hello__title {
  text-transform: uppercase;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
  margin-top: 170px;
}

.main__text {
  font-size: 100px;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  width: 400px;
}

.p__text {
  font-family: "Gilroy-Light", sans-serif;
  margin: 0 0;
  padding: 0 0;
  z-index: 1;
}

.strong__no {
  font-family: "Gilroy-Heavy", sans-serif;
}

.btn__next {
  background-image: url("../src/images/btn__next.png");
  background-repeat: no-repeat;
  width: 290px;
  height: 100px;
  scale: 1.1;
  position: absolute;
  bottom: 160px;
  right: 130px;
}

.btn__next__img {
  width: 100%;
  height: 100%;
}

#btn__next {
  width: auto;
  height: auto;
  z-index: 2;
}

.btn__next__img :hover {
  cursor: pointer;
}

.Layer_8 {
  background-image: url("../src/images/Layer 8.png");
  position: absolute;
  right: 100px;
  top: 250px;
  width: 111px;
  height: 114px;
  z-index: 17;
  animation: fly 30s linear infinite;
}

.Layer_4 {
  background-image: url("../src/images/Layer 4.png");
  scale: 0.8;
  background-repeat: no-repeat;
  width: 230px;
  height: 130px;
  position: absolute;
  right: 330px;
  bottom: -30px;

  animation: scale 7s linear infinite;
}

.pinksperm_1 {
  background-image: url("../src/images/pink_sperm_1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 190px;
  left: 400px;

  width: 600px;
  height: 100px;
  z-index: 1;
}

.bakti_1 {
  background-image: url("../src/images/bakti_1.png");
  rotate: 180deg;
  position: absolute;
  top: 70px;
  right: 250px;
  width: 70px;
  height: 70px;
  z-index: 1;
  animation: bakti 15s linear infinite;
}
.bakti_1 img {
  width: 100%;
  height: 100%;
}

.Layer_7 {
  background-image: url("../src/images/Layer 7.png");
  position: absolute;

  top: 90px;
  width: 125px;
  height: 114px;
  z-index: 17;
}
.another_bakti {
  background-image: url("../src/images/bakti_1.png");
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 170px;
  left: 50px;
  z-index: 0;
  animation: bakti 20s linear infinite;
}

.another_bakti img {
  width: 100%;
  height: 100%;
}

.pink_sperm {
  background-image: url("../src/images/pink_sperm.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 600px;

  z-index: 1;
}

.Layer__4__copy {
  background-image: url("../src/images/Layer 4 copy.png");
  height: 80px;
  width: 80px;
  position: absolute;
  right: 620px;
  bottom: 70px;
}

.onpoint {
  background-image: url("../src/images/onpoint.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 15px;
  position: absolute;
  bottom: 15px;
  left: 90px;
}

@keyframes bakti {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(20px) translateX(20px) rotate(90deg);
  }
  50% {
    transform: translateY(40px) translateX(0) rotate(180deg);
  }
  75% {
    transform: translateY(0) translateX(40px) rotate(270deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15) translatex(20px) translateY(-20px);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  50% {
    transform: translateX(-100px) translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

/* second slide css ///////////////////////////////////// */

.container__second__slide {
  overflow: hidden;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
  max-width: 1024px;
  max-height: 768px;
}

.bg__second {
  background-image: url("../src/images/bg2.png");
  position: absolute;
  width: 100%;
  height: 100%;
}

.home__btn__text__second {
  background-image: url("../src/images/home.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  left: 90px;
  width: 200px;
  height: 25px;
  z-index: 2;
}

.text__container__second {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  position: absolute;

  top: 200px;
  left: 150px;
  width: 650px;
  height: 400px;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.p__text__second {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.black__line {
  scale: 0.8;
  position: absolute;
  width: auto;
  height: auto;
  bottom: 70px;
  left: 60px;
}

.black__line img {
  width: 100%;
  height: 100%;
}

.text-container-container {
  z-index: 1;
  overflow: auto;

  position: absolute;
  border-radius: 34px;
  border: none;
  top: 250px;
  left: 200px;
  width: 700px;
  height: 400px;
  color: white;
  background-color: hsl(0, 0%, 99%);
  background: #ffffff;
  background: -webkit-linear-gradient(to bottom, #ffffff 82%, #efeeee 100%);
  background: -moz-linear-gradient(to bottom, #ffffff 82%, #efeeee 100%);
  background: linear-gradient(to bottom, #ffffff 82%, #efeeee 100%);
  -webkit-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  -moz-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
}

.text-container-container::-webkit-scrollbar {
  display: none;
}

.slider-container {
  left: 0%;
  width: 10px;
  height: 400px;
  background: hsl(0, 0%, 0%);
  border: none;
  position: absolute;
  top: 260px;
  left: 100px;
  cursor: pointer;
  border-radius: 10px;
}

#btn__slider {
  position: absolute;
  left: -5px;
  top: -50px;
  scale: 0.8;
}

.slider-thumb {
  background-image: url("../src/images/btn_slider.png");
  width: 20px;
  height: 105px;

  position: absolute;
  top: 0;
  left: -5px;
  cursor: pointer;
}

.text-container {
  width: 700px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.1s ease;
}

.text-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 100%);

  box-sizing: border-box;
}

.text__p__slider__content {
  overflow: hidden;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 20px;
  margin-top: 30px;
  position: absolute;
  width: 600px;
  height: auto;
}

.text__message__p {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
  left: 95px;
  top: 105px;
  position: absolute;
  width: 100px;
  height: auto;
}

.sperm5 {
  background-image: url("../src/images/sperm5.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 610px;
  height: 500px;
  top: 130px;

  left: 420px;
}

.sperm4 {
  background-image: url("../src/images/sperm3.png");
  position: absolute;
  width: 100px;
  height: 60px;

  top: 500px;

  left: 930px;
}

.sperm3 {
  background-image: url("../src/images/sperm3.png");
  position: absolute;
  width: 150px;
  height: 70px;

  top: 100px;

  left: 800px;
}

.sperm2 {
  background-image: url("../src/images/sperm2.png");
  width: 150px;
  height: 80px;

  position: absolute;

  top: 400px;

  left: 910px;
}

.sperm1 {
  background-image: url("../src/images/sperm1.png");
  width: 350px;
  height: 200px;
  position: absolute;

  top: 110px;

  left: 650px;
}

.sperm_animation {
  animation: secondOutSperm 2s ease;
}

@keyframes secondOutSperm {
  from {
    transform: translateX(+300px) translateY(+230px);

    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* third slide */

.main__container__third {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.home__btn__third {
  background-image: url("../src/images/home.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 30px;
  position: absolute;
  top: 40px;
  left: 90px;
}

.main__text__third {
  position: absolute;
  top: 160px;
  left: 385px;
}

.p__text__third {
  margin: 0 0 0 0;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 30px;
  line-height: 1.5;
}
.h1__main__text__third {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 70px;
  line-height: 1.5;
}
#strong__XY {
  font-family: "Gilroy-Bold", sans-serif;
}

.main__bg__third {
  position: absolute;
  background-image: url("../src/images/bg3.png");
  z-index: 0;
  width: 1024px;
  height: 10024px;
}

.main__content__third {
  width: 680px;
  height: 260px;
  position: absolute;
  top: 390px;
  left: 300px;
  z-index: 0;
}

.first__box {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 320px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  -moz-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__box p {
  padding-left: 90px;
  padding-right: 40px;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.second__box {
  position: absolute;
  left: 360px;
  top: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 320px;
  height: 50%;
  -webkit-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  -moz-box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
  box-shadow: 0px 0px 30px 54px rgba(243, 243, 243, 0.5);
}

.second__box p {
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 40px;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.third__box {
  background-image: url("../src/images/btn_third.png");
  scale: 1.125;
  width: 264px;
  height: 80px;
  position: absolute;
  left: 395px;
  bottom: 0px;
  cursor: pointer;
}

.plate {
  background-image: url("../src/images/plate.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 80px;
  top: -35px;
}

.icon {
  background-image: url("../src/images/icon1.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 60px;
  position: absolute;
  right: 160px;
  top: -30px;
  z-index: 1;
}

.bootle {
  background-image: url("../src/images/bottle.png");
  width: 230px;
  height: 700px;
  position: absolute;
  left: 90px;
  top: 100px;
  z-index: 3;
}

.bubble__rotate1 {
  position: absolute;
  animation: flyBubble1 25s linear infinite;
}

.bubble__rotate2 {
  position: absolute;
  animation: flyBubble2 15s linear infinite;
}

.bubble1 {
  background-image: url("../src/images/bubble1.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;

  left: 130px;
  top: 240px;
  z-index: 2;
}

.bubble2 {
  background-image: url("../src/images/bubble2.png");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  left: 240px;
  top: 330px;
  z-index: 2;
}

.bubble3 {
  background-image: url("../src/images/bubble3.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: 245px;
  top: 90px;
  z-index: 2;
}

.bubble4 {
  background-image: url("../src/images/bubble4.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  left: 280px;

  top: 500px;
  z-index: 2;
}

.bubble5 {
  background-image: url("../src/images/bubble5.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  left: 230px;
  top: 170px;
  z-index: 5;
}

.bubble6 {
  background-image: url("../src/images/bubble6.png");
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 240px;
  top: 730px;
  z-index: 5;
  animation: scale 15s linear infinite;
}

.bubble7 {
  background-image: url("../src/images/bubble7.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 500px;
  z-index: 5;
}

.bubble8 {
  background-image: url("../src/images/bubble8.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  left: 100px;
  top: 600px;
  z-index: 5;
}

.modal {
  z-index: 2;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 1024px;
  height: 1024px;
  background-color: #8d8a8a80;
}

.modal-content {
  position: absolute;
  background-color: hsl(0, 0%, 99%);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  max-width: 700px;
  max-height: 500px;
  min-height: 500px;
  left: 235px;
  overflow: hidden;

  border-radius: 40px;
}

.close {
  position: absolute;
  right: 40px;
  top: 30px;
  scale: 2;
  color: hsl(0, 0%, 0%);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  margin-top: 10px;
  position: absolute;
  left: 200px;
}

.modal__header p {
  text-transform: uppercase;
  margin: 0 0 0 0;
  font-family: "Gilroy-light", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
}

.modal__header h1 {
  margin: 0 0 0 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Gilroy-light", sans-serif;
  font-size: 70px;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
}

.modal__header h1 strong {
  font-family: "Gilroy-Bold", sans-serif;
}

.modal__main__content {
  width: 450px;
  overflow: hidden;
  font-family: "Gilroy-light", sans-serif;
  font-size: 20px;
  position: absolute;
  display: flex;
  top: 200px;
  left: 200px;

  flex-direction: column;

  transition: transform 0.3s ease-in-out;
}

.modal__window__content {
  overflow: hidden;
  width: 900px;
  display: flex;
  flex-direction: row;
}

.left__slide {
  width: 450px;
}

.left__slide p {
  margin: 0 0 10px 0;
}

.right__slide {
  width: 450px;
}

.right__slide p {
  margin: 0 0 10px 0;
}

.number__modal {
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(19, 95, 79);
}

.arrows {
  position: absolute;
}

.bg__dot {
  background-image: url("../src/images/dot.png");
}

.bg__dot__empty {
  background-image: url("../src/images/dot_empty.png");
}

.arrow__left {
  background-image: url("../src/images/btn_arrow_left.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  left: 205px;
  bottom: 22px;
}

.arrow__right {
  background-image: url("../src/images/btn_arrow_right.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  left: 265px;
  bottom: 22px;
}

.dots {
  position: absolute;
  width: 11px;
  height: 11px;
}
.dot1 {
  left: 225px;
  bottom: 28px;
}
.dot2 {
  left: 245px;
  bottom: 28px;
}

.onpoint_third {
  background-image: url("../src/images/onpoint.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 15px;
  position: absolute;
  z-index: 8;
  top: 740px;
  left: 130px;
}

@keyframes flyBubble1 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  50% {
    transform: translateX(-50px) translateY(-50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

@keyframes flyBubble2 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  50% {
    transform: translateX(50px) translateY(50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}
